.sub {
  text-align: center;
  color: rgb(172, 115, 30);
}
.menu-items {
  letter-spacing: 2px;
  padding: 5px;
}
h2 {
  text-align: center;
}
.paragraph {
  padding: 5px;
  text-align: start;
  text-align: center;
}
#imagen {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: auto;
}
.important-color {
  color: rgb(204, 6, 6);
}
.highlighted {
  color: azure;
  background-color: black;
}
.primary-button {
  background-color: greenyellow;
  border-radius: 10px;
  border-style: double;
  cursor: grab;
  border-color: palevioletred;
}

.secondary-button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  border-style: double;
  cursor: grab;
  border-color: palevioletred;
}
